blinker
click
Flask
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
Flask-WTF
yfinance[nospam]
yfinance-cache
requests-cache
pandas
pyarrow
plotly
pyjanitor
datetime
python-dateutil